/* Slider'ı tam ekran yapmak için */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh; /* Ekranı tamamen kaplasın */
  overflow: hidden;
}

/*insan hakları nedir kartı ile slider görselleri arasındaki boşluk*/
.slider {
  margin-bottom: 30px; /* Slider altına boşluk ekledik */
}

.container.d-flex {
  margin-top: 50px; /* Kartların slider'dan uzaklaşması için boşluk */
}

/* Bilgi kartın içeriği (card-body) arka planını değiştirme */
.custom-card .card-body {
  background-color: #cfcba9be; /* Daha açık gri bir arka plan */
  padding: 20px;
  color: #343a40; /* Metin rengini koyuluğu */
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Görsel aktif olduğunda görünür olsun */
.slider img.active {
  opacity: 1;
}

/* Özlü sözler slider'ı */
.description-slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 10px;
}

.description-slide {
  display: none;
  text-align: center;
}

.description-slide.active {
  display: block;
}

.description-slide h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.description-slide p {
  font-size: 18px;
  color: #555;
}

.card:hover {
  transform: scale(1.05); /* Hafif büyütme efekti */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Gölgelendirme efekti */
}

/* Navbar genel stil */
.navbar {
  padding: 15px 20px;
  box-shadow: 0 2px 10px rgba(219, 39, 39, 0.1);
}

/* Navbar linkleri stil */
.nav-link {
  font-size: 20px; /* Yazı boyutunu büyüttük */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover efekti */
.nav-link:hover {
  background-color: #cfcba9be;
  color: #fff;
}

/* Aktif link stil */
.nav-link.active {
  background-color: #cfcba9be;
  color: #fff;
  border-radius: 5px;
}

/* Dropdown menü stil */
.dropdown-menu {
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Dropdown item hover efekti */
.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

/* İhlal Bildir butonu stili */
.ihlal-bildir-btn {
  font-size: 18px; /* Yazı boyutu artırıldı */
  padding: 10px 20px; /* İç boşluk artırıldı */
  border-radius: 8px; /* Kenarlar daha yuvarlak yapıldı */
  font-weight: bold; /* Yazı kalınlaştırıldı */
  transition: background-color 0.3s, transform 0.2s;
}

/* Hover efekti */
.ihlal-bildir-btn:hover {
  background-color: #830808;
  transform: scale(1.05); /* Üzerine gelindiğinde hafif büyüme efekti */
}

/* Footer genel stil */
footer {
  background-color: #cfcba9be;
  color: #333;
  box-shadow: 0 2px 10px rgba(219, 39, 39, 0.3);
}

.footer-content {
  max-width: 1200px; /* İçeriğin genişliğini belirledik */
  margin: 0 auto; /* Ortalamak için */
}
.footer-content div {
  padding: 6px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-top: 2px dashed #830808; /* Ayırıcı çizgi */
  padding-top: 10px; /* Çizgi ile içerik arasına boşluk ekler */
  transition: transform 1s ease-in-out;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  font-size: 30px;
  margin-top: 12px;
  margin-left: 5px;
}

.social-icons a:hover {
  color: #830808;
  transform: scale(1.08);
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-weight: bold;
}
.contact-info i {
  font-size: 30px;
  margin-right: 10px;
  transition: transform 1s ease-in-out;
}

.contact-info i:hover {
  color: #830808;
  transform: scale(1.08);
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
}
/*footer bitiş*/

/*Abone ol kısmı*/
form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(88, 87, 87);
}
form input[type="email"] {
  padding: 10px;
  font-size: 16px;
  width: 60%;
}

.form-container .btn {
  background-color: #830808;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 45px;
  margin-left: 10px;
}

.form-container .btn:hover {
  background-color: #830808;
  transform: scale(1.05);
  color: #fff;
}

@media (max-width: 768px) {
  .form-container {
    flex-direction: column; /* Elemanları alt alta yerleştir */
    align-items: center; /* Ortalamayı sağla */
    gap: 10px; /* Elemanlar arası boşluk */
  }

  .form-container input[type="email"],
  .form-container .btn {
    width: 100%; /* Her ikisi aynı genişlikte olsun */
    max-width: 300px; /* Maksimum genişlik */
  }
}
/*Abone ol kısmı bitiş*/
